body{
	font-family:sylfaen;
	color: #669966;
	margin: 0;
	padding: 0;
	background-color: #000033;
}
a { 
	color: inherit;
	text-decoration: none; 
}
img {
	border: none;
}
.header{
	margin-left: 150px;
	width: 700px;
	font-weight:bold;
	border: 3px solid #669966;
	border-top: 0px;
	border-style: outset;
	padding:0px 50px;
	font-size: 24pt;
}
.login{
	margin-left: 200px;
	margin-right: 200px;
	border: 1px solid #AAAAAA;
	text-align: center;
}
.hide {
	display: none;	
}

.tab{
	margin-left: 150px;
	width: 700px;
}
.menu{
	border: 3px solid #669966;
	border-style: outset;
	border-top: 0px;
	padding:0px 50px;
}

.login{
	font-size:10pt;
	background-color: #FFFFFF;
	margin-left: 200px;
	margin-right: 200px;
	border: 1px solid #AAAAAA;
	text-align: center;
}

.left{
	float: left;
	margin-left: 100px;
	margin-top: 50px;	
}
.right{
	float: left;
	margin-right: 100px;
	margin-top: 50px;	
}
.panel{
	width: 150px;
}  

.note{	
	border: 1px solid #AAAAAA;
}
.contact{	
	border-bottom: 1px solid #AAAAAA;
	padding:25px 0px;
}

.editNote{
	margin-top: 50px; 
	margin-left: 200px;
	float: left;
}

.editContact{
	margin: 50px;
	float: left;
}	

.button{
	background-color:#669966;
	font-family:sylfaen;
}

#bdayCal,#startDateCal,#endDateCal {
	display: none;	
	position: absolute;
}

.loading{
	float: left;
	margin-top: 200px;
}

/*Suggest Boxes*/
.suggest {
	position: absolute;
	width: 350px;
	height: 100px;
	border: 1px ridge #000033;
	background: #669966;
	overflow-y: auto;
	overflow-x: hidden;
	font-size: 16px;
	color: #000033;
}

.highlight{
	background-color: #FF8F70;
}