body,div,td {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #666;
}

body {
	background-color: #fff;
	background-image: url(../images/banner-graphic.png);
	background-position: top center;
	background-repeat: no-repeat;
	text-align: center;
	min-width: 600px;
	margin: 5px 150px 5px 150px;
}

#pick {
	text-align: left;
	float: left;
}

#order {
	margin: 5px 5px 5px 5px;
	text-align: left;
	float: left;
}

.data, .data td {
	border-collapse: collapse;
	border: 1px solid #aaa;
	margin: 2px;
	padding: 2px;
}
.data th {
	font-weight: bold;
	background-color: #339933;
	color: white;
}

#header {
	color: white;
	background-color: #339933;
	margin: 0px;
	font-size: 18px;
}


/* text styles */

h1,h2,h3 {
	font-family: Helvetica, sans-serif;
	color: #7db223;
}

h1 {
	font-size: 20px;
	line-height: 26px;
}

h2 {
	font-size: 18px;
	line-height: 24px;
}

h3 {
	font-size: 15px;
	line-height: 21px;
	color:#555;
}

h4 {
	font-size: 14px;
	line-height: 20px;
}

.errors {
	color: red;
	font-weight: bold;
}

/*

a {
	text-decoration: underline;
	font-size: 13px;
}

a:link {
	color: #7db223;
}

a:hover {
	color: #456314;
}

a:active {
	color: #7db223;
}

a:visited {
	color: #7db223;
}
.layout{
	margin: 0px;	
}

.footer {
	background:#fff;
	border:none;
	margin-top:20px;
	border-top:1px solid #999999;
	width:100%;
}

.footer td {color:#999999;}

.footer a:link {color: #7db223;}
*/